In [2]:
from xgboost import XGBRegressor
from config import TRAIN_END_DATE, VALID_END_DATE
import pandas as pd
import numpy as np
from utility import infer_months_per_period
from model_data_builder import build_model_data
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [203]:
# Some Helper functions
def rmse(y_true, y_pred):
    """
    Root Mean Squared Error: measures magnitude error sensitive to outliers 
    rmse computes the square root of the mean of the squared differences between 
    predicted and actual values
    """
    return np.sqrt(np.mean((y_true - y_pred) ** 2))

def spearman_rank_corr(y_true, y_pred):
    """
    Spearman Rank Correlation: measures ranking accuracy
    """
    # if no samples, return NaN
    if len(y_true) == 0:
        return np.nan
    return pd.Series(y_true).corr(pd.Series(y_pred), method="spearman")

In [204]:
# Importing datasets from model_data_builder
df = pd.read_csv("model_data.csv")
# print(df.columns)
df["period_end"] = pd.to_datetime(df["period_end"])
target_col = "next_excess_ret"
df.head()

,SP Identifier,PERMNO,period_end,Monthly Price,Monthly Total Return,Monthly Total Return Excluding Dividends,Shares Outstanding (CRSP),avail_from,avail_to,Fiscal Year,...,HML,Mkt_RF_ann,SMB_ann,HML_ann,next_ret_12m,next_excess_ret,excess_ret,beta_mkt_rf,beta_smb,beta_hml
0,1004,54594.0,2001-05-31,14.00,0.246661,0.246661,26932.0,2001-04-30,2002-04-29,2000,...,0.131116,-0.064919,0.035576,0.131116,-0.182857,-0.207470,NaN,NaN,NaN,NaN
1,1004,54594.0,2002-05-31,11.44,-0.100211,-0.102041,26860.0,2002-04-30,2003-04-29,2001,...,0.031405,-0.078152,-0.003087,0.031405,-0.606643,-0.620868,-0.205861,NaN,NaN,NaN
2,1004,54594.0,2003-05-31,4.50,0.159794,0.159794,31850.0,2003-04-30,2004-04-29,2002,...,0.051667,0.063062,0.024852,0.051667,1.128889,1.119499,-0.620311,NaN,NaN,NaN
3,1004,54594.0,2004-05-31,9.58,-0.056158,-0.056158,32245.0,2004-04-30,2005-04-29,2003,...,-0.000590,-0.009844,0.030379,-0.000590,0.674322,0.654851,1.119541,NaN,NaN,NaN
4,1004,54594.0,2005-05-31,16.04,0.088934,0.088934,32438.0,2005-04-30,2006-04-29,2004,...,-0.013612,0.035983,-0.032309,-0.013612,0.501247,0.462968,0.653306,-1.400609,13.90712,-29.869485

In [205]:
# Columns that contain future information at t+1, excluding them from X
biasedcols = [col for col in df.columns if col.startswith("next_")]
id_cols = ["SP Identifier", "PERMNO"]
filtered_cols = biasedcols + id_cols + ["period_end"]
features = [col for col in df.columns if col not in filtered_cols]
# df = df.dropna(subset = [target_col])
df.head()

,SP Identifier,PERMNO,period_end,Monthly Price,Monthly Total Return,Monthly Total Return Excluding Dividends,Shares Outstanding (CRSP),avail_from,avail_to,Fiscal Year,...,HML,Mkt_RF_ann,SMB_ann,HML_ann,next_ret_12m,next_excess_ret,excess_ret,beta_mkt_rf,beta_smb,beta_hml
0,1004,54594.0,2001-05-31,14.00,0.246661,0.246661,26932.0,2001-04-30,2002-04-29,2000,...,0.131116,-0.064919,0.035576,0.131116,-0.182857,-0.207470,NaN,NaN,NaN,NaN
1,1004,54594.0,2002-05-31,11.44,-0.100211,-0.102041,26860.0,2002-04-30,2003-04-29,2001,...,0.031405,-0.078152,-0.003087,0.031405,-0.606643,-0.620868,-0.205861,NaN,NaN,NaN
2,1004,54594.0,2003-05-31,4.50,0.159794,0.159794,31850.0,2003-04-30,2004-04-29,2002,...,0.051667,0.063062,0.024852,0.051667,1.128889,1.119499,-0.620311,NaN,NaN,NaN
3,1004,54594.0,2004-05-31,9.58,-0.056158,-0.056158,32245.0,2004-04-30,2005-04-29,2003,...,-0.000590,-0.009844,0.030379,-0.000590,0.674322,0.654851,1.119541,NaN,NaN,NaN
4,1004,54594.0,2005-05-31,16.04,0.088934,0.088934,32438.0,2005-04-30,2006-04-29,2004,...,-0.013612,0.035983,-0.032309,-0.013612,0.501247,0.462968,0.653306,-1.400609,13.90712,-29.869485

In [206]:
# keep numeric features only to avoid object dtype issues
X_full = df[features]
# keep only the numeric columns
numeric_cols = X_full.select_dtypes(include=[np.number]).columns.tolist()
# Fill the missing values with 0.0
X = X_full[numeric_cols].fillna(0.0)
y = df[target_col].values

train_mask = df["period_end"] <= pd.to_datetime(TRAIN_END_DATE)
valid_mask = (df["period_end"] > pd.to_datetime(TRAIN_END_DATE)) & (df["period_end"] <= pd.to_datetime(VALID_END_DATE))
test_mask = df["period_end"] > pd.to_datetime(VALID_END_DATE)

In [207]:
# Set up some fixed parameters
XGBoost_model = XGBRegressor(
    n_estimators = 1500,
    random_state = 44,
    eval_metric="rmse",
    early_stopping_rounds = 150,
    n_jobs = -1
)
# Use GridSearchCV to tune the remaining parameters
param_grid = {
    # Controls the complexity of the model
    "max_depth": [2, 3,4, 5, 6],
    # Control the learning rate (speed)
    "learning_rate": [0.005, 0.01, 0.02, 0.03, 0.04, 0.05],
    # Controls the percentage of firms (rows) each individual tree is allowed to see
    "subsample": [0.6, 0.7, 0.8, 0.9],
    # Controls the percentage of features(columns) each individual tree is allowed to use
    "colsample_bytree": [0.6, 0.7, 0.8, 0.9],
    # Regularization parameters - prevent overfitting
    "min_child_weight": [5, 10, 20],
    # L1 Regularization (Lasso) 
    "reg_alpha": [0, 0.1, 1, 10],
    # L2 Regularization (Ridge)   
    "reg_lambda": [0, 1, 10],
}

# Model Trainging
model = RandomizedSearchCV(
    estimator = XGBoost_model,
    param_distributions = param_grid,
    n_iter = 100,
    scoring = "neg_mean_squared_error",
    n_jobs = -1,
    verbose = 1,
    random_state = 44
)

In [208]:
# Train the XGBoost model before running validation metrics
model.fit(
    X[train_mask],
    y[train_mask],
    eval_set=[(X[valid_mask], y[valid_mask])],
    verbose = False,
)
# Extract the tuned model
print(f"Best Parameters Found: {model.best_params_}")
best_model = model.best_estimator_

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Best Parameters Found: {'subsample': 0.7, 'reg_lambda': 1, 'reg_alpha': 1, 'min_child_weight': 10, 'max_depth': 4, 'learning_rate': 0.05, 'colsample_bytree': 0.9}

In [209]:
# Configuring the Final Model
x_train_validation = pd.concat([X[train_mask], X[valid_mask]])
y_train_validation = np.concatenate([y[train_mask], y[valid_mask]])
# Train the final model on the entire training set
Final_Model = XGBRegressor(
    **model.best_params_,
    n_estimators = 1500,
    n_jobs = -1,
    random_state = 66
)
print("Training Final Production Model...")
Final_Model.fit(x_train_validation, y_train_validation, verbose=False)
print("Training Complete.")

Training Final Production Model...
Training Complete.

In [210]:
y_test = y[test_mask]
# Writes the results on the testing data into the dataframe
df.loc[test_mask, "predicted_next_excess_ret"] = Final_Model.predict(X[test_mask])
# Creates the results dataframe
predicted_df = df.loc[test_mask, ["PERMNO", "period_end", target_col, "predicted_next_excess_ret"]].copy()
# drop the missing values
predicted_df = predicted_df.dropna(subset=["predicted_next_excess_ret"])

# Rank stocks by Score 
predicted_df["rank"] = predicted_df.groupby("period_end")["predicted_next_excess_ret"].rank(method="first", ascending=False)

# Select the top 5 stocks to form the portfolio
Portfolio = predicted_df[predicted_df["rank"] <= 5].copy()
Portfolio = Portfolio.rename(columns = {target_col: "actual_next_excess_ret"})

Portfolio.to_csv("top5.csv", index=False)

In [3]:
portfolio_path = "top5.csv"   # or "top10_long_only.csv"
crsp_path = "new_data.csv"
portfolio = pd.read_csv(portfolio_path)
portfolio["period_end"] = pd.to_datetime(portfolio["period_end"], errors="coerce")
portfolio = portfolio.dropna(subset=["period_end", "PERMNO"]).copy()
crsp = pd.read_csv(crsp_path)
crsp["MthCalDt"] = pd.to_datetime(crsp["MthCalDt"], errors="coerce")
crsp["period_end"] = crsp["MthCalDt"].dt.to_period("M").dt.to_timestamp("M")
firm_lst = portfolio["PERMNO"].unique()
firm_lst[1:6]
data = crsp[crsp["PERMNO"].isin(firm_lst[1:6])]
names = data["conm"].unique()
names
# Analog Devices Inc
# ApoGee Enterprises Inc
#Applied Materials, Inc. (AMAT)
# AutoDesk Inc
# ENERPAC TOOL GROUP CORP

array(['ENERPAC TOOL GROUP CORP', 'APOGEE ENTERPRISES INC',
       'APPLIED MATERIALS INC', 'ANALOG DEVICES INC', 'AUTODESK INC'],
      dtype=object)